<% render '/default.*' do %>
<article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="page__inner-wrap">
        <header>
            <h1 class="page__title" itemprop="headline"><%= item[:title] %></h1>
            <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i>
                <%= item[:read_time] %>
                    Posted:
                    <%= item[:created_at].strftime("%d/%b/%Y") %> by
                        <%= item[:author_name] %>
            </p>
        </header>
        <%= yield %>

        <p>I would like to hear from you! If you have some ideas or comments, please do not hesitate to <a href="https://twitter.com/UnPOUcoDe">tweet me</a> your comments.</p>
    </div>

    <footer class="page__meta">
      <p class="page__taxonomy">
         <strong><i class="fa fa-fw fa-tags" aria-hidden="true"></i> Tags: </strong>
         <span itemprop="keywords">
               <%= tags_for(item, none_text: "", base_url: "/tags/#", separator: "") %>
         </span>
      </p>

      <p class="page__taxonomy">
         <strong><i class="fa fa-fw fa-folder-open" aria-hidden="true"></i> Categories: </strong>
         <span itemprop="keywords">
            <%= categories_for(item, none_text: "", base_url: "/categories/#", separator: "") %>
         </span>
      </p>

      <p class="page__date">
            <strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> Updated:  </strong><%= item[:created_at].strftime("%B %d, %Y") %></p>
   </footer>

   <section class="page__share">
      <h4 class="page__share-title">Share on</h4>
         <a href="https://twitter.com/intent/tweet?via=UnPOUcoDe&text=<%= item[:title] %> <%= url_for(item) %>" class="btn btn--twitter" title="Share on Twitter"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i><span> Twitter</span></a>
   </section>
</article>
<% end %>
